body{
    margin: 0;
    padding: 0;


}

.container{
        display:flex;
        height: 100vh ;

}

.container-left{
    width: 20%;
    background-color: darkred;
    padding:1rem;
}

.container-right{
    width: 100%;
    background-color: red;
    padding: 1rem;
    border-left-style:solid;
    border-left-color: black;
    border-left-width: 4px;

}


.menu-item{
    display:block;
    margin-bottom: 1rem;
    background-color: brown;
    border: 1px solid black;
    text-align:center;
    text-decoration-color: lavender;
    text-emphasis-color: lavender;
    -webkit-text-stroke-color: lavender;
    color: lavender;
}


.imagen1{
    width: 90%;
    height:90%;

}


.text-bio{
    text-align: justify;
    font-style:italic;
    line-height: 2;

}




h1{
    margin-top: 0;

}

.form-control{
    display: block;
    margin: 0.5rem 0;
    background-color:tomato;
}

#message{
    background-color:tomato;

}

.form-button{
    display: block;
    background-color:tomato;

}

.error{
    display: none;
    color: blue;
}

.show-error{
    display: block;
}

#get-user{
    display: block;
    margin: 0 auto;
}

.user{
    text-align: center;
    margin: 0 auto;
}


.texto-socio{
    text-align: center;
}